{% extends 'base.html.twig' %}

{% block title %}New SgrProfesor{% endblock %}

{% block body %}
    <h1>Create new SgrProfesor</h1>

    {{ include('sgr_profesor/_form.html.twig') }}

    <a href="{{ path('sgr_profesor_index') }}">back to list</a>
{% endblock %}
