{% extends 'base.html.twig' %}

{% block title %}New SgrProfesor{% endblock %}

{% block body %}
    <h1>Nuevo Profesor</h1>

    {{ include('sgr_profesor/_form.html.twig') }}

    <a href="{{ path('sgr_profesor_index') }}">Volver a la lista</a>
{% endblock %}
