{% extends 'base.html.twig' %}

{% block title %}Hello SgrTaxonomiaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello</h1>

    Taxonomias espacios:
    <ul>
        {% for Taxonomia in taxonomias %}
        	<li> {{ taxonomia.nombre }}, ( {{ taxonomia.descripcion }})</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
