{% extends 'layout.html.twig' %}

{% block title %}Hello SgrTaxonomiaController!{% endblock %}

{% block header %}
    
    <h1>Taxonomias</h1>
    <a class="btn btn-primary" href="{{ path('sgr_taxonomia_create')}}" role="button">Nueva</a>

{% endblock %}
{% block content %}

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 80%">Taxonomias</th>
                <th scope="col" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for taxonomia in taxonomias %}
            <tr>
                <th scope="row col">{{ taxonomia.nombre }}</th>
                <td>
                    <a class="btn btn-primary" href="{{ path('sgr_taxonomia_update',{id :taxonomia.id}) }}" alt="Editar"><i class="fas fa-pencil-alt"></i></a>
            </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('sgr_taxonomia_update',{id :taxonomia.id}) }}" alt="Borrar"><i class="fas fa-trash-alt"></i></a>
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
