{{ form_start(formViewDay) }}
	<div class="input-group date" id="datetimepicker-fviewday" data-target-input="nearest">
        {{ form_widget(formViewDay.f_inicio, {'attr': {'class': 'datetimepicker-input', 'data-target' : '#datetimepicker-fviewday'}}) }}
        <div class="input-group-append" data-target="#datetimepicker-fviewday" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
{{ form_end(formViewDay, {'render_rest': false}) }}