{% if view == 'diaria' %}
<div class="btn-group" role="group" aria-label="Nav bottom">
	<button type="button" id="prevDay" class="btn btn-success border"><i class="fas fa-angle-double-left"></i></button>
  	<button type="button" id="hoy" class="btn btn-success border">Hoy</button>
  	<button type="button" id="nextDay" class="btn btn-success border"><i class="fas fa-angle-double-right"></i></button>
</div>
{% endif %}

{% if view == 'semanal' %}
<div class="btn-group" role="group" aria-label="Nav bottom">
  	<button type="button" id="prevWeek" class="btn btn-success border"><i class="fas fa-angle-double-left"></i></button>
 	<button type="button" id="thisWeek" class="btn btn-success border">Semana en curso</button>
  	<button type="button" id="nextWeek" class="btn btn-success border"><i class="fas fa-angle-double-right"></i></button>
</div>
{% endif %}

{% if view == 'mensual' %}
<div class="btn-group" role="group" aria-label="Nav bottom">
  	<button type="button" id="prevMonth" class="btn btn-success border"><i class="fas fa-angle-double-left"></i></button>
 	<button type="button" id="thisMonth" class="btn btn-success border">Mes en curso</button>
  	<button type="button" id="nextMonth" class="btn btn-success border"><i class="fas fa-angle-double-right"></i></button>
</div>
{% endif %}
{% if view == 'anual' %}
	<button type="button" id="genPDF" class="btn btn-success border">PDF</button>
{% endif %}