<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> 31 de mayo </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> otro por la tarde </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> por la tarde </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> puntual no dias check </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> hoy </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> asasd </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> asaSAS </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> asdasd </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> csad </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> puntual check dia no valido </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> puntual check dia no valido </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> cambio hora </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> dasdasd </div>
</div>
<div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'>
	<div class='align-middle text-wrap text-truncate'> <xasaSAS </div></div><div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'><div class='align-middle text-wrap text-truncate'> se pisan </div></div><div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'><div class='align-middle text-wrap text-truncate'> otra </div></div><div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'><div class='align-middle text-wrap text-truncate'> segundo dentro </div></div><div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'><div class='align-middle text-wrap text-truncate'> shshsa </div></div><div class='badge badge-info text-left' style='width: 100%;height: 100%;border:1px solid white'><div class='align-middle text-wrap text-truncate'> saasdasd </div></div>