{% extends 'base.html.twig' %}

{% block title %}Nueva SgrTitulacion{% endblock %}

{% block body %}
    <h1>Crear nueva Titulación</h1>

    {{ include('sgr_titulacion/_form.html.twig') }}

    <a href="{{ path('sgr_titulacion_index') }}">Volver a la lista</a>
{% endblock %}
