{% extends 'base.html.twig' %}

{% block title %}Edit SgrTipoActividad{% endblock %}

{% block body %}
    <h1>Edit SgrTipoActividad</h1>

    {{ include('sgr_tipo_actividad/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sgr_tipo_actividad_index') }}">back to list</a>

    {{ include('sgr_tipo_actividad/_delete_form.html.twig') }}
{% endblock %}
