{% extends 'base.html.twig' %}

{% block title %}New SgrAsignatura{% endblock %}

{% block body %}
    <h1>Crear nueva Asignatura</h1>

    {{ include('sgr_asignatura/_form.html.twig') }}

    <a href="{{ path('sgr_asignatura_index') }}">Volver a la lista</a>
{% endblock %}
