<form class="float-right" method="post" action="{{ path('sgr_equipamiento_delete', {'id': sgr_equipamiento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sgr_equipamiento.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
