{# templates/lucky/number.html.twig #}

{% extends 'layout.html.twig' %}

{% block header %}
	<h1> header block </h1>
{% endblock %}

{% block content %}
	<p>Your lucky number is {{ number }}</p>
{% endblock %}

{% block footer %}
	<h1>Footer block</h1>
{% endblock %}