{% extends 'base.html.twig' %}

{% block title %}Upload CSV{% endblock %}

{% block body %}
    <h1>Upload CSV</h1>

    {# include('sgr_tipo_actividad/_form.html.twig') #}
    {{ form(form) }}

{% endblock %}