{% extends 'base.html.twig' %}

{% block title %}Edit SgrEspacio{% endblock %}

{% block body %}
    <h1>Editar Espacio</h1>

    {{ include('sgr_espacio/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('sgr_espacio_index') }}">Volver a la lista</a>

    {{ include('sgr_espacio/_delete_form.html.twig') }}
{% endblock %}
