{% extends 'base.html.twig' %}

{% block title %}Crear Espacio{% endblock %}

{% block body %}
    <h1>Crear nuevo Espacio</h1>

    {{ include('sgr_espacio/_form.html.twig') }}

    <a href="{{ path('sgr_espacio_index') }}">Volver a la lista</a>
{% endblock %}
