<!DOCTYPE html> 
<html class="h-100" lang="es-ES">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	{% block meta %}{% endblock %}
    	<meta name="author" content="Juan Antonio Fernández Ruiz, EE UNITIC Fcom">
        <meta name="description" content="Aplicación de reserva y gestión de espacios de la Facultad de Geografía e Historia, Universidad de Sevilla">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            
            {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}{% endblock %}

        <link href="/build/bootstrap-datetimepicker.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            {{ include('navbar.html.twig') }}
        </header>
    
        <main role="main" class="flex-shrink-0">
            <div class="container-fluid">
                <div class="row justify-content-md-center py-2">
                    <div class="col col-md-10">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        
       
        <footer class="footer mt-auto py-3">
            <div class="container-fluid">
                <div class="">
                    <a href="https://geografiaehistoria.us.es/" alt="Facultad de Geografía e Historia"><img src="{{ asset('images/MarcaAguaFGH.svg')}}" width="150px"></a>
                    <a href="http://www.us.es" alt="Universidad de Sevilla"><img src="{{ asset('images/logo_us.jpg') }}"></a>
                </div>
                <div class="">
                    SGR: Sitema de Gestión de Reservas.
                </div>
            </div>
        </footer>     

        {% block javascripts %}
        	
            {# encore_entry_script_tags('app') #}
            
            <!-- Renders app.js & a webpack runtime.js file -->
               <!-- <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        
        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
        <script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>       
        {# datepicker boostrap #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

        <script type="text/javascript">
            //console.log($('#sgr_evento_f_inicio'));
            $('#datetimepicker-fi').datetimepicker({
                locale: 'es',
                useCurrent: false,
                format: 'L',
                daysOfWeekDisabled: [0],
                keepInvalid: true,
                //minDate: moment().add(1, 'days'),
            });
            $('#datetimepicker-ff').datetimepicker({
                locale: 'es',
                useCurrent: false, /*Important!!*/
                format: 'L',
                daysOfWeekDisabled: [0],
                keepInvalid: true,
                //inline: true,
                //minDate: moment().add(1, 'days'),
            });
            $("#datetimepicker-fi").on("dp.change", function (e) {
                
                //e.date.add(7,'days');
                if (e.date > $('#datetimepicker-ff').data("DateTimePicker").date())
                    $('#datetimepicker-ff').data("DateTimePicker").date(e.date);

                //$('#datetimepicker-ff').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker-ff").on("dp.change", function (e) {
                
                if (e.date < $('#datetimepicker-fi').data("DateTimePicker").date())
                    $('#datetimepicker-fi').data("DateTimePicker").date(e.date);
                //$('#datetimepicker-fi').data("DateTimePicker").maxDate(e.date);
            });
            $('#datetimepicker-hi').datetimepicker({
                locale: 'es',
                useCurrent: false,
                format: 'LT',
                enabledHours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ],
                stepping: 15,
            });
            $('#datetimepicker-hf').datetimepicker({
                locale: 'es',
                useCurrent: false,
                format: 'LT',
                enabledHours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21 ],
                stepping: 15,
            });
            $("#datetimepicker-hi").on("dp.change", function (e) {
                
                e.date.add(1,'hours');
                $('#datetimepicker-hf').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker-hf").on("dp.change", function (e) {
                
                $('#datetimepicker-hi').data("DateTimePicker").maxDate(e.date);
            });

            {# bosstrap file input #}
        </script>

        {# Dinamyc file input bootstrap #}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                bsCustomFileInput.init();
            });
        </script>

        {% endblock %}
        {% block morescripts %}
        {% endblock %}
    </body>
</html>
