{# templates/layout.html.twig #}

{% extends 'base.html.twig' %}

{% block meta %}

	<meta name="description" content="Aplicación de reserva y gestión de espacios de la Facultad de Geografía e Historia, Universidad de Sevilla">
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="row px-2">
        <div class="col ">
			{% block header %}{% endblock %}
		</div>
	</div>
	<div class="container py-5" >
		<div class="row justify-content-md-center py-5">
			<div class="col col-md-8">
				{% block content %}{% endblock%}
			</div>
		</div>
	</div>
{% endblock %}