{% extends 'base.html.twig' %}

{% block title %}Edit SgrGrupoAsignatura{% endblock %}

{% block body %}
    <h1>Edit SgrGrupoAsignatura</h1>

    {{ include('sgr_grupo_asignatura/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sgr_grupo_asignatura_index') }}">back to list</a>

    {{ include('sgr_grupo_asignatura/_delete_form.html.twig') }}
{% endblock %}
