{% extends 'layout.html.twig' %}

{% block title %}Nuevo Término{% endblock %}

{% block header %}
    <h1>Crear nuevo Término</h1>
{% endblock %}
{% block content %}

	<a class="float-right" href="{{ path('sgr_termino_index') }}">Volver a la lista</a>
    
    {{ include('sgr_termino/_form.html.twig') }}

    
{% endblock %}
